
    body{
    background-color: rgb(229, 209, 249);
    text-align: center;
    }
    h1{
        color: rgb(255, 0, 0);
    font-size: 150px;
    }
    p{
        font-size: 65px;
    }
    h2{
        font-size: 50px;
        color: blue;
    }
    li{
        font-size: 35px;
    }
    a{
        color: rgb(255, 0, 0);
    }
    img{
        height: 400px;
    }
    h3{
        font-size: 30px;
    }