body{
    background-color: rgb(229, 209, 249); ;
}
div{
    background-color: rgb(250, 105, 105);
    margin: 100px;
    padding: 150px;
    border: 20px double rgb(0, 0, 0);
    border-radius: 40px;
}
img{
    height: 300px;
}